body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tabs .tab a {
  color: #00acc1;
}
.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #008b9b;
}
.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgba(102, 147, 153, 0.7);
}
.tabs .indicator {
  background-color: #009bad;
}

button.create-btn {
  margin-top: 20px;
  margin-left: 30px;
}

button.delete-btn {
  margin-right: 40px;
}
